body {
    font: 13px/1.5 ‘Helvetica Neue’, Arial, ‘Liberation Sans’, FreeSans, sans-serif;
    background:#ececec;
}
.leg {
    width:40%;
    float:left;
}
.textright{
    text-align-last: right;
}
.info{
    width: 10px;
    border:2px solid #474747;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:10px;
    height: 200px;
}
.typework{
    width: 150px;
    text-align-last: center;
}
.file{
    width: 250px;
    height: 50px;
}
fieldset {
    border:2px solid #474747;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:10px;
    height: 300px;
}
.order {
    font: 15px/1.5 ‘Helvetica Neue’, Arial, ‘Liberation Sans’, FreeSans, sans-serif;
    background:#474747;
    color:#fff;
    padding:3px 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-weight:bold;
}
#wrap {
    width:820px;
    padding:20px;
    margin:20px auto;
    background:#fff;
    border:1px solid #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
p {
    padding:2px;
}
label {
    display:inline-block;
    width:200px;
    font-weight:bold;
}
label:after {
    content: «:»;
}
input {
    display:inline-block;
    width:400px;
    border:1px solid #ccc;
    padding:5px;
    margin:0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-align: center;
}
thead td {
    text-align:center;
    font-weight:bold;
}
td + td > input {
    width:50px;
}
button {
    border:1px solid #474747;
    background:#ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin:10px;
    font-weight:bold;
    font-size:200%;
}
button:hover {
    background:#ececec;
    cursor:pointer;
}
.adres{
    width:500px;
    height: 100px;
}
.srok{
    border:2px solid #474747;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:10px;
    width:600px;
    height: 125px;
}
.techtask{
    border:2px solid #474747;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:10px;
    width:900px;
    height: 300px;
}